---
layout: default
title: Home
---

<section>
  <h2>Recent Book Reviews</h2>
  <hr />

  <div class="books">
    {% assign bookposts = site.posts | where: "type", "book" %}
    {% for book in bookposts limit:3 %}
      <article class="book">
        <img src="{{ book.image }}" class="" alt="" />
        <p>{{ book.title }}</p>
      </article>
    {% endfor %}
  </div>
</section>

<section>
  <h2>Writing</h2>
  <hr />

  <div class="essays">
    {% assign bookposts = site.posts | where: "type", "essay" %}
    {% for book in bookposts limit:3 %}
      <article class="essay">
          <p>foobar</p>
      </article>
    {% endfor %}
  </div>
</section>

<section>
  <h2>Side Projects</h2>
  <hr />

  <div class="projects">
    {% assign bookposts = site.posts | where: "type", "project" %}
    {% for book in bookposts limit:3 %}
      <article class="project">
          <p>foobar</p>
      </article>
    {% endfor %}
  </div>
</section>

<!--
<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: relative_url }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
