---
layout: default
title: Home
---

<section>
  <h2>Recent Book Reviews</h2>
  <hr />

  <div class="books section">
    {% assign bookposts = site.posts | where: "categories", "book" %}
    {% for book in bookposts limit:3 %}
      <article class="book">
        <img src="{{ book.image }}" class="medium-book" alt="{{ book.title }}" />
        <a href="{{ book.url | relative_url }}">{{ book.title }}, {{ book.author }}, {{ book.year }}</a>

        <ul class="book-tag-list">
        {% assign taglist = book.tags | sort %}
        {% for tag in taglist %}
          <li>{{ tag }}</li>
        {% endfor %}
        </ul>
      </article>
    {% endfor %}
  </div>
</section>

<section class="split">
  <section class="writing">
    <h2>Writing</h2>
    <hr />

    <div>
      {% assign writingposts = site.posts | where: "categories", "writing" %}
      <ul class="writing-list">
        {% for writ in writingposts limit:5 %}
        <li>
          <a href="{{ writ.url | relative_url }}">{{ writ.title }}</a>
          <small class="list-item-description post-date">
            <time datetime="{{ writ.date | date_to_xmlschema }}">{{ writ.date | date_to_string }}</time>
          </small>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="projects">
    <h2>Side Projects</h2>
    <hr />

    <div>
      {% assign projectposts = site.posts | where: "categories", "projects" %}
      <ul class="project-list">
        {% for proj in projectposts limit:5 %}
        <li>
          {% if proj.external_url %}
            <a href="{{ proj.external_url }}" target="_blank">{{ proj.title }}</a>
          {% else %}
            <a href="{{ proj.url | relative_url }}">{{ proj.title }}</a>
          {% endif %}
          <small class="list-item-description">{{ proj.description }}.</small>
          <small class="list-item-description post-date">
            <time datetime="{{ proj.date | date_to_xmlschema }}">{{ proj.date | date_to_string }}</time>
          </small>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</section>
