---
layout: default
title: Home
---

<section>
  <h2>Recent Book Reviews</h2>
  <hr />

  <div class="books section">
    {% assign bookposts = site.posts | where: "category", "book" %}
    {% for book in bookposts limit:3 %}
      <article class="book">
        <img src="{{ book.image }}" class="" alt="" />
        <a href="{{ book.url | relative_url }}">{{ book.title }}, {{ book.author }}, {{ book.year }}</a>

        <ul class="book-tag-list">
        {% assign taglist = book.tags | sort %}
        {% for tag in taglist %}
          <li>{{ tag }}</li>
        {% endfor %}
        </ul>
      </article>
    {% endfor %}
  </div>
</section>

<section class="split">
  <section class="writing">
    <h2>Writing</h2>
    <hr />

    <div>
      {% assign writingposts = site.posts | where: "category", "writing" %}
      <ul class="writing-list">
        {% for writ in writingposts limit:9 %}
        <li>
          <a href="{{ writ.url | relative_url }}">{{ writ.title }}</a>
          <small class="list-item-description">{{ writ.date | date: "%B %d, %Y" }}</small>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="projects">
    <h2>Side Projects</h2>
    <hr />

    <div>
      {% assign projectposts = site.posts | where: "category", "project" %}
      <ul class="project-list">
        {% for proj in projectposts limit:9 %}
        <li>
          <a href="{{ proj.url | relative_url }}">{{ proj.title }}</a>
          <small class="list-item-description">{{ proj.description }}. {{ proj.date | date: "%B, %Y" }}</small>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</section>



<!--
<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: relative_url }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
