---
layout: page
title: Side Projects
---

<section class="writing section">
  {% assign projectposts = site.posts | where: "categories", "projects" %}
  <ul class="writing-list" style="border: none;">
    {% for proj in projectposts %}
    <li>
      {% if proj.external_url %}
        <a href="{{ proj.external_url }}" target="_blank">{{ proj.title }}</a>
      {% else %}
        <a href="{{ proj.url | relative_url }}">{{ proj.title }}</a>
      {% endif %}
      <small class="list-item-description">{{ proj.description }}.</small>
      <small class="list-item-description post-date">
        <time datetime="{{ proj.date | date_to_xmlschema }}">{{ proj.date | date_to_string }}</time>
      </small>
    </li>
    {% endfor %}
  </ul>
</section>
