<h4>Currently Reading:</h4>

<article class="side-book">
  <small class="side-title">
    Sakura Obsession, Naoko Abe, 2020
  </small>
  <img src="/assets/images/books/sakura-obsession.jpeg" class="side-book-cover" alt="Book cover for Sakura Obsession" />
</article>



<h4>Quick Links:</h4>
<ul class="side-links">
  <li><a href="{{ 'reading-stats' | relative_url }}">Reading Stats</a></li>
  <li><a href="{{ 'recommended-reading' | relative_url }}">Recommended Reading</a></li>
  <li><a href="{{ 'archives' | relative_url }}">Complete Archives</a></li>
</ul>
